.tableTr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
}

.tableTd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
  word-break: break-word;
}

.productImage {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: contain;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  border: none;
  padding: 0;
  background-color: inherit;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  color: #bb4253;
}

.btn:hover {
  text-decoration: underline;
}

.editBtn {
  color: #4289bb;
}