.container {
  position: relative;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 25px;
  color: #121112;
}

.logout {
  border: none;
  background-color: #fff;
  color: #bb4253;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  transition: font-size .1s;
  text-transform: uppercase;
  font-family: inherit;
}

.logout:hover {
  font-size: 1rem;
}

.headerTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.table {
  width: inherit;
  padding: 0 25px;
  color: #666;
}

.tableTr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #fff;
  background-color: #5f9e52;
}

.tableTh {
  width: 15%;
  padding: 15px 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emptyList {
  margin: 40px;
}