.tableTr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableTd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 120px;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.productImage {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
}

.btnWrapper {
  width: 100%;
}

.btn {
  border: none;
  padding: 0 10px;
  background-color: #fff;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  transition: font-size .1s;
  text-transform: uppercase;
  font-family: inherit;
}

.btn:hover {
  font-size: 1rem;
}

.deleteBtn {
  color: #bb4253;
}