.createButton {
  border: none;
  background-color: #fff;
  color: #5f9e52;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  transition: font-size .1s;
  text-transform: uppercase;
  font-family: inherit;
}

.createButton:hover {
  font-size: 1rem;
}