.tableTr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 150px;
}

.tableTd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 120px;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productImage {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #fff;
  color: #4742bb;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  transition: font-size .1s;
  text-transform: uppercase;
  font-family: inherit;
}

.btn:hover {
  font-size: 1rem;
}

.editBtn {
  right: -65px;
}

.deleteBtn {
  right: -150px;
}