.container {
  width: 293px;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.trademarksListTitle {
  margin: 10px;
  font-size: inherit;
  color: #121112;
}

.trademarksList {
  max-height: 421px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid 1px #979797;
  border-top: none;
}