.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin-left: auto;
  padding: 0 25px;
  color: #515365;
}

.btn {
  border: none;
  background-color: #fff;
  color: #4742bb;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  transition: font-size .1s;
  text-transform: uppercase;
  font-family: inherit;
}

.btn:hover {
  font-size: 1rem;
}

.table {
  width: 80%;
  margin-left: auto;
  padding-right: 25px;
}

.table tr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 150px;
}

.editBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -65px;
}

.deleteBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -150px;
}

.table th {
  color: #515365;
}

.table th,
.table td {
  width: 15%;
  padding: 15px 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.formParams {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin-left: 50%;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 35px 25px;
  transform: translateX(-50%);
  box-shadow: 0px 0px 87px -33px rgba(38,28,99,1);
  background-color: #fff;
}

.formParamsActive {
  display: flex;
}

.formParams .group {
  position: relative;
  margin-bottom: 25px;
  color: #888da8;
}

.group label {
  position: absolute;
  left: 15px;
  top: 10px;
  margin-bottom: .5rem;
  font-size: .7rem;
  line-height: 1;
}