.formParams {
  position: fixed;
  top: 150px;
  left: 50%;
  display: none;
  width: -moz-fit-content;
  border-radius: 10px;
  padding: 0 25px;
  transform: translateX(-50%);
  box-shadow: 0px 0px 50px -15px rgba(38,28,99,1);
  background-color: #fff;
  z-index: 2;
}

.formParamsActive {
  display: block;
}

.title {
  margin: 30px 0;
  text-align: center;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 40px 20px;
}

.group {
  position: relative;
  display: block;
  height: 100%;
  margin-bottom: 20px;
}

.textarea {
  padding-top: 28px;
}

.submit {
  position: relative;
  margin-bottom: 20px;
}

.image {
  width: 100%;
}

.disabled {
  display: none;
}

.label {
  position: absolute;
  left: 15px;
  top: 8px;
  font-size: .7rem;
  color: #888da8;
}

.submitButton {
  position: absolute;
  right: 0;
  border: none;
  background-color: #fff;
  color: #4289bb;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
}