.inputWrapper {
  display: block;
  width: 350px;
  height: 100%;
  padding: 28px 15px 10px;
  border: 1px solid #5f9e52;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.formError {
  border: 1px solid red;
}

.textarea {
  resize: none;
}

.select {
  cursor: pointer;
}

.disable {
  display: none;
}

.plusIcon {
  position: absolute;
  top: 40%;
  right: -25px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: transform .6s;
}

.close {
  transition: transform .6s;
  transform: rotate(45deg);
}

.spanError {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: .7rem;
  color: red;
}