.paginationWrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding: 0 25px 100px 25px;
}

.extreme {
  display: block;
  min-width: 28px;
  height: 28px;
  margin: 0 5px;
  border: 1px solid #cadcb0;
  background-color: #fff;
  color: #666;
  text-align: center;
  cursor: pointer;
}

.activeDots {
  display: inline;
  width: 28px;
  text-align: center;
  vertical-align: sub;
  cursor: default;
}

.pageNumber {
  display: block;
  min-width: 28px;
  height: 28px;
  margin: 0 5px;
  border: 1px solid #cadcb0;
  background-color: #fff;
  color: #666;
  text-align: center;
  transition: background-color 1s, color .5s;
  cursor: pointer;
}

.extreme:focus {
  background-color: transparent;
}

.pageNumber:focus {
  background-color: #5f9e52;
}

.pageNumber:hover {
  background-color: #5f9e52;
  color: #fff;
}

.selectedPage { 
  background-color: #5f9e52;
  color: #fff;
}